.footer {
   background: url("../images/bg_4.jpg") center / cover no-repeat fixed;
}

.footer__content {
   display: flex;
   flex-direction: column;
   margin: 1em 0;
}

.footer__title {
   color: var(--branco);
   font-size: 1.6em;
   margin: 0.5em 0;
}

.footer__paragraph {
   color: var(--cinza-claro);
}

.footer__link {
   color: var(--preto);
   padding: 1em 2em;
   margin: 0.5em 0;
   background: var(--laranja);
   text-align: center;
   text-decoration: none;
}

.footer__list {
   list-style-type: disc;
   margin: 0 auto;
}

.footer__copyright {
   margin-top: 1em;
   text-align: center;
}
