.menu-options__content {
   text-align: center;
}

.menu-options__image {
   max-width: 100%;
   opacity: 0.7;
}

.menu-options__item {
   border: 1px solid #ffffff2a;
   background-color: rgba(0, 0, 0, 0.5);
   margin: 2em auto;
   max-width: 90vw;
   text-align: left;
}

.menu-options__title {
   color: white;
   font-size: 2em;
   text-align: center;
}

.menu-options__text {
   color: white;
   margin: 0.25em 1em;
}

.menu-options__description {
   color: wheat;
   margin: 0.25em 1em 1em 1em;
}
