.menu-options {
   background: $preto;
   position: relative;
   text-align: center;
}

.menu-options::after {
   background: url("../../../images/bg_4.jpg") center / cover no-repeat fixed;
   content: " ";
   display: block;
   opacity: 0.35;
   position: absolute;
   z-index: 1;

   left: 0;
   top: 0;

   width: 100%;
   height: 100%;
}

.menu-options__item {
   border: 1px solid #ffffff2a;
   margin: 2em auto;
   max-width: 90vw;
   text-align: left;
}

.menu-options__title {
   border-bottom: 1px solid $cinza-escuro;
   color: $laranja;
   padding: 0.25em;
   font-size: 3em;
   text-align: center;
}

.menu-options__table {
   align-items: center;
   margin: 0 0.75em;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
}

.menu-options__table-item {
   font-size: 1.2em;
   margin: 1em;
}

.menu-options__table-size {
   color: $cinza-claro;
}

.menu-options__table-price {
   color: wheat;
}

.menu-options__text {
   color: $branco;
   margin: 0.25em 1em;
}

.menu-options__description {
   color: $laranja;
   margin: 0.25em 1em 1em 1em;
}

.flavours__title {
   color: $branco;
   font-size: 1.5em;
   margin: 0.5em 0;
   text-align: center;
}
